{% extends 'dashboard/layout.html' %}
{% load static %}
{% block container %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">{{ title }}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr class="text-danger">
                                    <th>#</th>
                                    <th scope="col">ROOM ID</th>
                                    <th scope="col">ROOM NO.</th>
                                    <th scope="col">TYPE</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">STATUS</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for room in rooms %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ room.id }}</td>
                                        <td>{{ room.room_no }}</td>
                                        <td>{{ room.room_type_id.room_type }}</td>
                                        <td>{{ room.room_type_id.price }}</td>
                                        <td>{{ room.room_status_id.status }}</td>
                                        <td><a href="{% url 'dash-update-user' room.pk %}" class="btn btn-danger">Edit Room</a></td>
                                        <td><a href="{% url 'delete-admin' room.pk %}" class="btn btn-dark">Delete Delete</a></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}