<!DOCTYPE html>
<html lang="en">


<head>
    <script nonce="cf5a1b41-28c2-4629-b60a-6c33977fb583">(function (w, d) {
        !function (a, e, t, r) {
            a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zarazData.tracks = [], a.zaraz = {deferred: []}, a.zaraz.track = (e, t) => {
                for (key in a.zarazData.tracks.push(e), t) a.zarazData["z_" + key] = t[key]
            }, a.zaraz._preSet = [], a.zaraz.set = (e, t, r) => {
                a.zarazData["z_" + e] = t, a.zaraz._preSet.push([e, t, r])
            }, a.addEventListener("DOMContentLoaded", (() => {
                var t = e.getElementsByTagName(r)[0], z = e.createElement(r), n = e.getElementsByTagName("title")[0];
                n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), z.defer = !0, z.src = "../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t)
            }))
        }(w, d, 0, "script");
    })(window, document);</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    {% load static %}
    <title>{% if title %}MIJ {{ title|title }}{% else %}Hotel::MS{% endif %}</title>
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
</head>

{% block container %}{% endblock %}

<script src="{% static 'frontend/js/jquery.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script>eval(mod_pagespeed_ySEnPpvQzz);</script>
<script>eval(mod_pagespeed_EB8HIJc_TY);</script>
<script>eval(mod_pagespeed_TjLOjzFWnu);</script>
<script>eval(mod_pagespeed_$GuJcwVOvX);</script>
<script src="{% static 'frontend/js/jquery.waypoints.min.js' %}"></script>
<script>eval(mod_pagespeed_T0H7RQ5NO7);</script>
<script>eval(mod_pagespeed_5cOOpZ6vko);</script>
<script>eval(mod_pagespeed_ctVfaXk9gG);</script>
<script>eval(mod_pagespeed_tK46_61uK8);</script>
<script src="{% static 'frontend/js/bootstrap-datepicker.js' %}"></script>
<script>eval(mod_pagespeed_3GyiIaTEk3);</script>
<script>eval(mod_pagespeed_Fgpp7uaug$);</script>
<script>eval(mod_pagespeed_aVoiJgtEbQ);</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script>eval(mod_pagespeed_tDO_GFIOqC);</script>
<script>eval(mod_pagespeed_a5Wfqo1wMh);</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"6f606d7709167774","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>