<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    {% load static %}
    <title>{% if title %}MIJ {{ title|title }}{% else %}Hotel::MS{% endif %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/css/assets/images/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index-2.html">MIJJ Hotels</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if title == 'home' %}active{% endif %}"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li class="nav-item {% if title == 'rooms' %}active{% endif %}"><a href="{% url 'rooms' %}" class="nav-link">Rooms</a></li>
                <li class="nav-item {% if title == 'about' %}active{% endif %}"><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
                <li class="nav-item {% if title == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}" class="nav-link">C☺•ntact</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item "><a href="{% url 'user-logout' %}" class="nav-link">Logout</a></li>
                    {% else %}
                    <li class="nav-item "><a href="{% url 'dash-login' %}" class="nav-link">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block container %}{% endblock %}
<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-7 section-heading">
                <span class="subheading-sm">Reviews</span>
                <h2 class="heading">Guest Reviews</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="block-33">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="{% static "frontend/images/xperson_3.jpg.pagespeed.ic.SfZqKN2Qdo.jpg" %}" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">Martin Newmansfield</h2>
                            <span class="meta">Satisfied Customer</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat
                                voluptatibus vitae
                                error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-33">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="{% static "frontend/images/xperson_2.jpg.pagespeed.ic.RNV17L10BD.jpg" %}" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">Nancy Green</h2>
                            <span class="meta">Satisfied Customer</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat
                                voluptatibus vitae
                                error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-33">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="{% static "frontend/images/xperson_1.jpg.pagespeed.ic.wyHPGsvIE0.jpg" %}" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">Elizabeth Charles</h2>
                            <span class="meta">Satisfied Customer</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat
                                voluptatibus vitae
                                error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-lg-4">
                <h3 class="heading-section">About Us</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat
                    voluptatibus vitae error
                    ad itaque inventore accusantium tempore dolores sunt.</p>
                <p><a href="{% url 'about' %}" class="btn btn-primary px-4">About Us</a></p>
            </div>
            <div class="col-md-6 col-lg-4">
                <h3 class="heading-section">Blog</h3>
                <div class="block-21 d-flex mb-4">
                    <figure class="mr-3">
                        <img src="{% static "frontend/images/ximg_1.JPG" %}" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h3 class="heading"><a href="#">Our Luxury Hotel &amp; Restaurants</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> May 29, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 d-flex mb-4">
                    <figure class="mr-3">
                        <img src="{% static "frontend/images/ximg_2.jpg" %}" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h3 class="heading"><a href="#">Our Luxury Hotel &amp; Restaurants</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> May 29, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 d-flex mb-4">
                    <figure class="mr-3">
                        <img src="{% static "frontend/images/ximg_3.jpg" %}" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <h3 class="heading"><a href="#">Our Luxury Hotel &amp; Restaurants</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> May 29, 2018</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-23">
                    <h3 class="heading-section">Contact Info</h3>
                    <ul>
                        <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                        <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text"><span class="__cf_email__"
                                                                                                         data-cfemail="dcb5b2bab39ca5b3a9aeb8b3b1bdb5b2f2bfb3b1">[email&#160;protected]</span></span></a>
                        </li>
                        <li><span class="icon icon-clock-o"></span><span class="text">Monday &mdash; Friday 8:00am - 5:00pm</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12 text-left">
                <p class="text-center">

                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | Made with <i class="icon-heart" aria-hidden="true"></i> by Squad 10 PYTHON Stack POD A

                </p>
            </div>
        </div>
    </div>
</footer>

<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
    </svg>
</div>

<script src="{% static 'frontend/js/jquery.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script>eval(mod_pagespeed_ySEnPpvQzz);</script>
<script>eval(mod_pagespeed_EB8HIJc_TY);</script>
<script>eval(mod_pagespeed_TjLOjzFWnu);</script>
<script>eval(mod_pagespeed_$GuJcwVOvX);</script>
<script src="{% static 'frontend/js/jquery.waypoints.min.js' %}"></script>
<script>eval(mod_pagespeed_T0H7RQ5NO7);</script>
<script>eval(mod_pagespeed_5cOOpZ6vko);</script>
<script>eval(mod_pagespeed_ctVfaXk9gG);</script>
<script>eval(mod_pagespeed_tK46_61uK8);</script>
<script src="{% static 'frontend/js/bootstrap-datepicker.js' %}"></script>
<script>eval(mod_pagespeed_3GyiIaTEk3);</script>
<script>eval(mod_pagespeed_Fgpp7uaug$);</script>
<script>eval(mod_pagespeed_aVoiJgtEbQ);</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script>eval(mod_pagespeed_tDO_GFIOqC);</script>
<script>eval(mod_pagespeed_a5Wfqo1wMh);</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"6f606d7709167774","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>