{% extends 'dashboard/layout2.html' %}
{% block container %}
    <div class="d-flex" style="min-height: 80vh">
        <div class="text-center m-auto w-50">
            <h1>LOGIN</h1>
            <h3 class="text-uppercase">Page Not Found !</h3>
            <p class="text-muted mt-4 mb-4">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
            <button type="submit" class="btn btn-info btn-rounded waves-effect waves-light mb-5 text-white">Sign In <i class="fa fa-sign-in"></i></button>
        </div>
    </div>
{% endblock %}